/* Style the dropdown menu */
.dropdown {
    position: relative;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #333;
    top: 100%;
    left: 0;
    width: 200px; /* Adjust the width to make it wider */
    padding: 15px; /* Adjust the padding for more space */
}

.dropdown-menu li {
    margin: 0;
    padding: 0;
    display: block;
}

.dropdown-menu li a {
    color: #fff;
    text-decoration: none;
}

.dropdown-menu li a:hover {
    background-color: #555;
}
