* {
    box-sizing: border-box;
} 

body {
    display:flex;
    justify-content: center;
    align-items: center;
    margin:50px auto;
}

.button {
    position: static;
    top:50%;
    background-color:#556B2F;
    color: #fff
}
